*{
    padding: 0%;
    margin: 0%;
}

.mehndi {
  height: 100vh;
  width: 100%;
  background: 
  linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.350) 35%,
      rgba(7, 7, 7, 0.40)100%
    ),
    url("../img/mehndi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: shakti;
  src: url(../OleoScript-Regular.ttf);
}

.contant{
    width: 80%;
    height: 200px;
    border: 5px solid rgb(250, 235, 194);
    color: #e3f6c4;
    padding-left: 20px;  
    position: relative;
    top: 33%;
    left: 5%;
   
}

.contant h2{
   padding-left: 18px;
   padding-top: 12px;
   font-size: 28px;
    font-family: shakti,regular;

}

.contant p{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #c4d4a4;
}